.git/
.idea/
.local/
.media/
.pytest_cache/
.ruff_cache/
.static/
.venv/
__pycache__/
docs/
envs/
infra/
scripts/

.dockerignore
.DS_Store
.editorconfig
.env
.gitignore
default.conf
docker-compose.yml
Dockerfile
README.md
ruff.toml
